.swiper_container {
  .swiper-pagination-bullet {
    background-color: white;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: rgba(255, 255, 255, 0);
  }
}

.swiper-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.slider-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-pagination {
  color: white;
}
